.ast-tree {
  font-size: 20px;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.operator,
.number {
  border: 1px solid #333;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator {
  font-weight: bold;
}

.number {
  border-radius: 50%;
}

.children {
  display: flex;
  gap: 3rem;
  position: relative;
}

.children::before,
.children::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #333;
}

.children::before {
  top: -40px;
  left: 35%;
  transform: rotate(45deg);
}

.children::after {
  top: -40px;
  left: 65%;
  transform: rotate(-45deg);
}
