.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 1rem 4rem;
}

.flex {
  display: flex;
}

.items-center {
  justify-content: center;
}

.pass {
  color: green;
}

.fail {
  color: red;
}
